<!DOCTYPE html>
<html ng-app="afApp">
<head>
<meta charset="ISO-8859-1">
<title>Automation Framework</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/base-style.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/TestSuite.css" rel="stylesheet" />
     <link href="css/common.css" rel="stylesheet" />
     <link href="css/customization.css" rel="stylesheet" />
     <link href="css/default.css" rel="stylesheet" />

	<script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/defaultController.js"></script>
    <script src="js/loginController.js"></script>
   	<script src="js/homeController.js"></script>
   	<script src="js/myDirectives.js"></script>
   	
    

</head>

<body>

     <div ng-controller="loginController" id="bodyContainer">
         <div id="header" ng-show="authenticated">
    </div>
        <ul id="verticalNav" ng-show="authenticated">
        <!--        <div id="headerContent">
            <div id="appName">
                <div id="headerLogo" class="pull-left"></div>
                <label class="pull-left" id="appTitle">Service Registry and Monitoring</label>
            </div>
        </div> --> 
        <div id ="appName">
        <label>Web Tester</label>
        	
        </div>
        <div id =menuItems>
            <a href="#{{link.href}}" ng-repeat="link in menuItems" ng-show="link.isValid">
                <li id="{{link.id}}" ng-click="highlightRow(link.href)" ng-class="{'menu-active': currentPath==link.href}" style="padding-left: 20px;">
                   <!--  <span class="glyphicon " ng-class="link.styleClass"></span> -->
                    {{link.menuItemName}}
                </li>
                <!-- {'menu-active':$index == row} -->
            </a>
       </div>  
        </ul>
        <div id="ViewContainer">
            <div id="viewContent">
                <div ng-view="ng-view"></div>
            </div>
        </div>
    </div>
   
</body>
</html>