<div ng-controller="homeController">
<div id="selectToolBar" class="borderize">
<select class="form-control borderize pull-right font-small" style="width: 140px;height:30px;margin:10px">
<option>Service Registry</option>
<option>Service Registry</option>
</select>
</div>
<div class ="bread-crumbs padding-left-lg">
<span ng-repeat="crumb in crumbs">
<a ng-if="!($last)" href ="{{crumb.href}}">{{crumb.name}}</a>
<span ng-if="$last" >{{crumb.name}}</span>
<span ng-if="!($last)"class="glyphicon glyphicon-menu-right"></span>
</span>
</div>
 <div class="menu-bar borderize">
<button class="btn transparent no-outline pull-left">
<span class="glyphicon glyphicon-plus text-success"></span> Create Suite</button>
<div class="pull-right">
<button class="btn btn-link transparent no-outline border-right border-left inline-block" >Create Execution Batch</button><button class="btn transparent no-outline inline-block">Glyph</button>
</div>
</div>
<div ng-repeat="suite in testsuite" class="suite-card inline-block">
<div class="padding-btm-sm text-strong">{{suite.suiteName}}</div>
<div class="suite-description ellipsis">{{suite.suiteDescription}}</div>
<div class="suite-buttons">
<a href="" class="pull-left">Edit</a>
<a href="" class="pull-right">Launch</a>
</div>
</div>
</div>
