<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-controller="homeController">
<div class ="bread-crumbs padding-left-lg">
<span ng-repeat="crumb in crumbs">
<a ng-if="!($last)" href ="{{crumb.href}}">{{crumb.name}}</a>
<span ng-if="$last" >{{crumb.name}}</span>
<span ng-if="!($last)"class="glyphicon glyphicon-menu-right"></span>
</span>
</div>
 <div class="menu-bar borderize">
<button class="btn transparent no-outline pull-left margin-top-sm">
<span class="glyphicon glyphicon-plus text-success"></span> Create Suite</button>
<div class="pull-right execution-group-container">
<div class="border-left border-right" style="width:calc(100% - 70px)">
<button class="btn btn-link transparent no-outline">Create Execution Batch</button>
</div> 
<div style="width:calc(100% - 150px)">
<button class="btn transparent no-outline">Glyph</button>
</div>

</div>
</div>
<div>
<table class="borderize margin-lg" style="width:95%">
<tbody >
<tr class="data-item font-md" ng-repeat="testCase in testCases">
<td style="width:2%" class="padding-left-lg"><span class="glyphicon glyphicon-play-circle font-md"></span></td>
<td style="width:5%">{{testCase.testCaseName}}</td>
<td style="width:25%">{{testCase.testCaseDescription}}</td>
<td style="width:2%" class="text-right"><button class="btn btn-link transparent no-outline" dta-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical font-md"></span></button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul></td>
</tr></tbody></table></div>
</body>
</html>