<div ng-controller="testStepController">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
 Add Step
</button>
<table class="table table-bordered">
<tr ng-repeat="testStep in testSteps">
<td>{{testStep.stepDetails[0].paramName}}</td>
<td>{{testStep.stepDetails[0].paramDescription}}</td>
<td>{{testStep.stepDetails[0].fieldValue}}</td>
<td>{{testStep.stepDetails[0].order}}</td>

</tr>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
    <my-dir index="0" test-steps="testSteps"></my-dir>
    
      </div>
      <div class="modal-footer">
      <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
</div>